table tr:nth-child(odd) {
   background-color: #c1e7ff;
}

table tr:nth-child(odd) td {
   border: 1px solid #b8ddea;
}

table tr:nth-child(even) {
   background-color: #cecede;
}

table tr:nth-child(even) td {
   border: 1px solid #d1bae6;
}


.table-bordered th {
	border: 1px solid #f59298;
}



table tr:nth-child(odd):hover{
	background-color: #a0d3f3;
}
table tr:nth-child(odd):hover td{
	border: 1px solid #89caf3;
}



table tr:nth-child(even):hover{
	background-color: #d3b4f3;
}
table tr:nth-child(even):hover td{
	border: 1px solid #dda7f5;
}