table tr:nth-child(odd) {
   background: #c1e7ff;
}

table tr:nth-child(odd) td {
   border: 1px solid #b8ddea;
}

table tr:nth-child(even) {
   background: #cecede;
}

table tr:nth-child(even) td {
   border: 1px solid #d1bae6;
}


.table-bordered th {
	border: 1px solid #f59298;
}